@media only screen and (min-width:1400px) {
    @font-face {
        font-family: myfont;
        src: url('PlayfairDisplay-Regular.ttf');
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: myfont;
    }
    header{
        background: url('img/slider-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 650px;
    }
    .navbar{
        width: 100%;
        display: flex;
        color: white;
        justify-content: space-between;
        padding: 30px;
    }
    .menu i{
        color: black!important;
        background-color: white;
        padding: 10px;
        border-radius: 50%;
        font-size: 30px;
    }
    .main{
        color: white;
        padding-left: 200px;
    }
    .main h2{font-size: 60px; margin-top: 20px;}
    .main p{font-size: 20px;margin-top: 20px;letter-spacing: 1px;}
    .shop{
        color: #fd9c6b;
        background-color: transparent;
        border: 2px solid #fd9c6b;
        border-radius: 5px;
        padding: 10px 0px 10px 0px;
        margin-top: 30px;
        width: 150px;
        font-size: 18px;
    }
    .shop:hover{
        color: white;
        border: 2px solid transparent;
        background-color: #fd9c6b;
    }
    .products{display: flex; width: 100%;margin-top: 30px;justify-content: space-around;}
    .item{background-color: #eee;width:20%}
    section h2{margin-top: 50px;font-size: 50px;}
    .item a{text-decoration: none;color: black;background-color: white;padding: 10px; border-radius: 50%; font-size: 20px;}
    .item{padding: 20px; }
    .item img{
        width: 100%;  
        margin-top: 20px;
        height: 300px;
    }
    .item span{font-size: 20px;padding-top: 30px;}
    .price{margin-left: 80px;}
    .pro{
        background-color: #fd9c6b;
        color: white;
        border: 2px solid #fd9c6b;
        padding: 10px;
        font-size: 18px;
        border-radius: 5px;
    }
    .pro:hover{
        background-color: white;
        color: #fd9c6b;
    }
    .about{
        width: 100%;
        /* padding: 0px 250px 0px 250px; */
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        padding: 50px;
    }
    .about-left{
        /* width: 50%; */
        position: relative;
        
    }
    .blackdiv{
        height: 300px;
        width: 300px;
        background-color: black;
       
    }
    .about-left img{
        width: 500px;
        position: absolute;
        top:30px;
        left:30px;
        
    }
    .about-right{
        /* width: 50%; */
        padding-left: 300px;
    }
    .about-right p{
        margin-top: 30px;
        font-size: 25px;
    }
    .about-right button{
        margin-top: 10px;
    }
    .main-off{width: 100%;display: flex;margin-top: 150px;padding: 20px;}
    .main-off img{width: 100%;max-width: 100%;}
    .left-off{width: 50%;padding-right: 20px;}
    .right-off{width: 50%;}
    .main-blog{width: 100%;padding: 50px 100px 0px 100px;display: flex;justify-content: space-around;}
    .main-blog img{width: 100%;}
    .left-blog{background-color: #f1f2f3;width: 47%;margin-top: 50px;position: relative;}
    .date{
        background-color: black;
        color: white;
        border: 3px solid #fff;
        width: 75px;
        font-size: 25px;
        text-align: center;
        position: absolute;
        top:370px;
        left: 30px;
        
    }
    .blog-txt{padding: 20px;letter-spacing: 1px;}
    .blog-txt p{margin-top: 10px;}
    .blog-txt button{margin-top: 10px;padding: 15px;width: 170px;font-size: 20px;}
    .blog-txt button:hover{background-color: black;color: white;}
    
}