@media only screen and (min-width:1200px){
    .main{
        background-color: grey;
        display: flex;
    }
    .main div{
        /* height: 200px;
        width: 20%; */
        border: 2px solid;
        margin: 50px;
        /* font-size: 1em; */
        /* font-size: 12pt; */
    }
    .one{
        background-color: aqua;
    }
    .two{background-color: bisque;}
    .three{background-color: blueviolet;}
    .four{background-color: burlywood;}
    .one img{
        width: 100%;
    }
    img{
        max-width: 100%;
        height: 100vh;
    }
}