<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* header{
            background: url('img/pexels_videos_2022395\ \(1080p\).mp4');
            width: 100%;
            height: 500px;
        } */
        /* video{
            height: 400px;
            width: 100%;
        } */
        header
        {
            position: relative;
        }
        div{
            position: absolute;
            top:50px;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <video controls height="1000" width="100%">
            <source src="img/pexels_videos_2022395 (1080p).mp4">
        </video>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil explicabo, laborum deserunt nesciunt animi voluptatem, accusantium praesentium inventore veniam aspernatur dolores vitae, architecto quae minima consequatur eligendi facilis debitis porro!</p>
        </div>
    </header>
</body>
</html>