<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- header start -->
    <header>
        <div class="header-navbar">
            <div class="logo">
                <img src="img/logo.png" alt="logo">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Listing</a></li>
                    <li><a href="#">Contact Us  </a></li>
                    <li><button class="listing-btn"><i class="fa-solid fa-plus plus"></i>&nbsp;&nbsp;Add Your Listing</button></li>
                </ul>
            </div>
        </div>
        <hr class="header-hr"/>
       <div class="banner-content">
                <b>OVER 36,500+ ACTIVE LISTINGS</b>
                <h1 class="find">Find Nearby Places & Things</h1>
                <div class="search-form">
                    <div class="search1">
                        <select>
                            <option value="">All Areas</option>
                        </select>
                    </div>
                    <div class="search2">
                        <input type="text" placeholder="Enter a Location">
                    </div>
                    <div class="search3">
                        <select>
                            <option value="">Price Range</option>
                        </select>
                    </div>
                    <div class="search4">
                        <button class="serach-btn"><i class="fa-solid fa-magnifying-glass search-icon"></i>&nbsp;&nbsp;Add Your Listing</button>
                    </div>

                </div>
                <div class="banner-icons">
                    <div>
                        <i class="fa-solid fa-house"></i>
                        <p>Apartments</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-burger"></i>
                        <p>Apartments</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-car-side"></i>
                        <p>Apartments</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-bag-shopping"></i>
                        <p>Apartments</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-earth-europe"></i>
                        <p>Apartments</p>
                    </div>
                </div>
       </div>
    </header>
    <!-- header end -->

    <!-- popular section start -->
    <section class="main-popular">
        <h2>Popular Categories</h2>
        <p>CHECK THEM OUT</p>
        <div class="popular">
            <div class="categories">
                <div class="cat-icons ">
                    <div class="cati active">
                        <i class="fa-solid fa-house"></i>
                        <span>Apartments</span>
                    </div>
                    <div class="cati">
                        <i class="fa-solid fa-burger"></i>
                        <span>Apartments</span>
                    </div>
                    <div class="cati">
                        <i class="fa-solid fa-car-side"></i>
                        <span>Apartments</span>
                    </div>
                    <div class="cati">
                        <i class="fa-solid fa-bag-shopping"></i>
                        <span>Apartments</span>
                    </div>
                    <div class="cati">
                        <i class="fa-solid fa-earth-europe"></i>
                        <span>Apartments</span>
                    </div>
                </div>
                <div class="cat-text">
                    <h4>One Of The Most Trending Stuffs Right Now!</h4>
                    <p>Plot Listing is a responsive Bootstrap 5 website template that included 4 different HTML pages. This template is provided by TemplateMo website. You can apply this layout for your static or dynamic CMS websites.</p>
                    <button class="listing"><i class="fa-solid fa-plus plus"></i>&nbsp;&nbsp;Add Your Listing</button>
                </div>
                <div class="cat-img">
                    <img src="img/building.jpg" alt="building">
                </div>
            </div>
        </div>
    </section>
    <!-- popular section end -->
    <hr>

    <!-- listing section start -->
    <section class="listing">
        <h2>Recent Listing</h2>
        <p>CHECK THEM OUT</p>
        <div class="inner-list-main">
            <div class="inner-list-first">
                <img src="img/listing-01.jpg" alt="listing">
            </div>
            <div class="inner-list-second">
                <h4>1. First Apartment Unit</h4>
                <h6>by: Sale Agent</h6>
                <ul>
                    <li><i class="fa-solid fa-tags "></i><span>$3600/month with taxes</span></li>
                    <li><span class="detail">Details:</span><span>3600 sq ft</span></li>
                    <li><i class="fa-solid fa-sink"></i><span>4 Bedroom</span></li>
                    <li><i class="fa-solid fa-sink"></i><span>4 Bathroom</span></li>
                </ul>
            </div>
            <div class="inner-list-third">
                <span>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  (24) Reviews</span>
                  <button class="recent-btn"><i class="fa-solid fa-magnifying-glass search-icon"></i>&nbsp;&nbsp;Contact Now</button>
            </div>
        </div>

        <div class="inner-list-main">
            <div class="inner-list-first">
                <img src="img/listing-06.jpg" alt="listing">
            </div>
            <div class="inner-list-second">
                <h4>1. First Apartment Unit</h4>
                <h6>by: Sale Agent</h6>
                <ul>
                    <li><i class="fa-solid fa-tags "></i><span>$3600/month with taxes</span></li>
                    <li><span class="detail">Details:</span><span>3600 sq ft</span></li>
                    <li><i class="fa-solid fa-sink"></i><span>4 Bedroom</span></li>
                    <li><i class="fa-solid fa-sink"></i><span>4 Bathroom</span></li>
                </ul>
            </div>
            <div class="inner-list-third">
                <span>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  (24) Reviews</span>
                  <button class="recent-btn"><i class="fa-solid fa-magnifying-glass search-icon"></i>&nbsp;&nbsp;Contact Now</button>
            </div>
        </div>

        <div class="inner-list-main">
            <div class="inner-list-first">
                <img src="img/listing-05.jpg" alt="listing">
            </div>
            <div class="inner-list-second">
                <h4>1. First Apartment Unit</h4>
                <h6>by: Sale Agent</h6>
                <ul>
                    <li><i class="fa-solid fa-tags "></i><span>$3600/month with taxes</span></li>
                    <li><span class="detail">Details:</span><span>3600 sq ft</span></li>
                    <li><i class="fa-solid fa-sink"></i><span>4 Bedroom</span></li>
                    <li><i class="fa-solid fa-sink"></i><span>4 Bathroom</span></li>
                </ul>
            </div>
            <div class="inner-list-third">
                <span>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  (24) Reviews</span>
                  <button class="recent-btn"><i class="fa-solid fa-magnifying-glass search-icon"></i>&nbsp;&nbsp;Contact Now</button>
            </div>
        </div>
    </section>
    <!-- listing secttion end -->

   <hr>
   <footer>
    <div class="footer-main">
        <div class="footer-one">
        
                <img src="img/black-logo.png" alt="logo">
                <br>    <br>
                <p>If you consider that Plot Listing template is useful for your website, please support us a little via PayPal.</p>
               
           
        </div>
        <div class="footer-two">
          
      
            <div class="footer-two-left">
                <h3>Helpful Links</h3>
                <ul>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Listing</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-two-right">
                <ul>
                    
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Awards</a></li>
                    <li><a href="#">Useful Sites</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-three">

            <h4>Contact Us</h4>
            <p>27th Street of New Town, Digital Villa</p>
            <div class="number1">
                <a href="#">010-020-0340</a>
                <a href="#">090-080-0760</a>
            </div>
         
            
        </div>
    </div>
    <center><hr class="footer-hr"></center>
    <div class="footer-sub">
        <p>Copyright © 2023 Red & White Pvt Ltd. All Rights Reserved.</p>
        <p>Design:<span>Janki Suthar</span></p>
    </div>
   </footer>
</body>
</html>