<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="main-header">
            <div class="main-left-header">
                <i class="fa-solid fa-envelope"></i><span>info@company.com</span>
                <i class="fa-solid fa-phone"></i><span> 010-020-0340</span>
            </div>
            <div class="main-right-header">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
        </div>

        <div class="middle-header">
            <div class="first-middle-header">
                <h1>Zay</h1>
            </div>
            <div class="second-middle-header">
                <nav>
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Shop</a>
                    <a href="#">contact</a>
                </nav>
            </div>
            <div class="third-middle-header">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-cart-shopping"></i>
                <i class="fa-solid fa-user-tie"></i>
            </div>
        </div>

        <div class="main-slider">
            <div class="first-slider">
                <h2>Proident occaecat</h2>
                <h4>Aliquip ex ea commodo consequat</h4>
                <p>You are permitted to use this Zay CSS template for your commercial websites. You are not permitted to re-distribute the template ZIP file in any kind of template collection websites.</p>
            </div>
            <div class="second-slider">
                <img src="img/banner_img_02.jpg" alt="banner">
            </div>
        </div>
    </header>
</body>
</html>